@charset "utf-8";
@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

/* Reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
menu,
nav,
section,
article,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
input,
select,
textarea,
button,
img,
fieldset {
    border: none;
}
ul,
ol,
li {
    list-style: none;
}
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
address,
cite,
code,
em,
i {
    font-style: normal;
    font-weight: normal;
}
label,
img,
input,
select,
textarea,
button,
a {
    vertical-align: middle;
}
u,
ins,
a {
    text-decoration: none;
}

a {
    color: inherit;
}

button {
    height: 50px;
    cursor: pointer;
}

/* Normalize */
body {
    font-family: "Pretendard-Regular";
    color: #333;
}
select {
    appearance: none;
    margin: 0 40px 0 0;
    background: url(../images/bu_select.png) no-repeat right 20px center;
}
select::-ms-expand {
    display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.ie9 .test {
    position: relative;
    z-index: 0;
    display: inline-block;
}
.ie9 .test select {
    margin: 0 20px 0 0;
    z-index: 1;
}
.ie9 .test:before {
    content: "";
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 3;
    width: 20px;
    height: calc(100% - 2px);
    background: #fff;
}

/* Style */
.clear {
    clear: both;
}
.clear:after {
    content: "";
    display: block;
    clear: both;
}
caption,
caption > div,
legend,
.hide {
    overflow: hidden;
    display: block;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.skip {
    position: absolute;
    left: 0;
    right: 0;
    top: -100%;
    transition: all 0.5s;
    line-height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
    z-index: 100;
}

.skip:focus {
    top: 0;
}


