@charset "utf-8";
@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

/* Reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
menu,
nav,
section,
article,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
input,
select,
textarea,
button,
img,
fieldset {
    border: none;
}
ul,
ol,
li {
    list-style: none;
}
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
address,
cite,
code,
em,
i {
    font-style: normal;
    font-weight: normal;
}
label,
img,
input,
select,
textarea,
button,
a {
    vertical-align: middle;
}
u,
ins,
a {
    text-decoration: none;
}

a {
    color: inherit;
}

button {
    height: 50px;
    cursor: pointer;
}


/* Style */
body {
    font-family: "Pretendard-Regular";
    color: #333;
}

.clear {
    clear: both;
}
.clear:after {
    content: "";
    display: block;
    clear: both;
}

caption,
caption > div,
legend,
.hide {
    overflow: hidden;
    display: block;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.skip {
    position: absolute;
    left: 0;
    right: 0;
    top: -100%;
    transition: all 0.5s;
    line-height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
    z-index: 100;
}

.skip:focus {
    top: 0;
}

/* 공통 Style */
#notice {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

.notice-inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notice-img {
    width: 300px;
    height: 300px;
    background: url('../images/notice.png') no-repeat center;
}

.notice-close {
    display: block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 50px;
    font-weight: bold;
    text-align: center;
    background-color: #F1CB00;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
}

.notice-close:hover {
    background-color: #227C39;
    text-decoration: underline;
}